$accent--lightmode: #fff;
$primary--lightmode: #464646;
$primary-light--lightmode: #9f9f9f;
$primary-lighter--lightmode: #eeeeee;
$shadow--lightmode: 0 8px 16px rgba(10, 10, 10, 0.1);

$accent--darkmode: #1a1d23;
$primary--darkmode: #e6e6e6;
$primary-light--darkmode: #8b8b8b;
$primary-lighter--darkmode: #3a3a3a;
$shadow--darkmode: 0 8px 16px rgba(0, 0, 0, 0.3);

$warning: #ffc107;
$info: #6086b4;
$success: #51d88a;
$danger: #ef5753;

$thumbnail-height: 15em;
$body-max-width: 1920px;
